<link rel="stylesheet" href="components/menu/menu.css">

<div class="menu" id="menu">
    <div class="eyelid-container">
    <div class="eyelid top"></div>
    <div class="eyelid bottom"></div>
    </div>

    <div class="title">
        <img src="img/title.png" alt="title" class="title">
        <div class="animation">
            <div>Z</div>
            <div>Z</div>
            <div>Z</div>
        </div>
    </div>
    <div class="options">
        <a class="option" id="play">Play</a>
        <a class="credit" href="https://github.com/ErwanHeschung/gameonweb2025">
            <img src="img/square-github-brands.svg" alt="credit">
            <span>https://github.com/ErwanHeschung/gameonweb2025</span>
        </div>
    </div>
</div>
