<link rel="stylesheet" href="components/menu/menu.css">

<div class="menu" id="menu">
    <div class="title">
        <img src="img/title.png" alt="title" class="title">
        <div class="animation">
            <div>Z</div>
            <div>Z</div>
            <div>Z</div>
        </div>
    </div>
    <div class="options">
        <a href="game.html" class="option" id="play">Jouer</a>
        <a href="#" class="option">Options</a>
        <a href="#" class="option">Succès</a>
    </div>
</div>
